* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#projects{
    background: rgb(48 49 48);
}

#projects li{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
}

#projects li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

#projects a{

}

#projects img{
    
}

#projects h1{

}

#projects h2{

}

#projectsh3{

}

#projects h4{

}