* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* home page */

#home {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
    background-color: royalblue;
    height: 800px;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 900px;
    width: 100%;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 15%;
}

.demo {
    padding: 10px 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: 0.3s ease;
    color: white;
}

.demo:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}


/* Portfolio Reel */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
    background: rgb(62, 160, 114);
    height: 800px;
}

#portfolio::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

#portfolio::after {
    height: 80px;
}


/* external css: flickity.css */

.portfolio h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.showreel {
    background: rgb(17, 168, 105);
}

.showreel.is-fullscreen .slide {
    top: 25%;
}

.slide {
    width: 1000px;
    height: 500px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: slide;
    left: 50%;
    display: flex;
    justify-content: center;
}


/* cell number */

.slide:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* no circle */

.flickity-button {
    background: transparent;
}


/* big previous & next buttons */

.flickity-prev-next-button {
    width: 100px;
    height: 100px;
}


/* icon color */

.flickity-button-icon {
    fill: white;
}

#project1 {
    background-color: aqua;
    background-image: url("https://dummyimage.com/1000x500/a19ca1/fff.png&text=Project+1(1000x500)");
}

#project2 {
    background-color: coral;
    background-image: url("https://dummyimage.com/1000x500/5ca9b5/fff.png&text=Project+2(1000x500)");
}

#project3 {
    background-color: cornsilk;
    background-image: url("https://dummyimage.com/1000x500/b32b24/fff.png&text=Project+3(1000x500)");
}

#project4 {
    background-color: crimson;
    background-image: url("https://dummyimage.com/1000x500/89ba4d/fff.png&text=Project+4(1000x500)");
}

.project {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50%;
}

.project a {
    padding: 10px 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: 0.3s ease;
    color: white;
}

.project button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}


/* About Section */

#details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
    background: rgb(209, 183, 69);
    height: 800px;
}

#details::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

#details::after {
    position: absolute;
    height: 80px;
}

.about {
    display: flex;
    padding: 50px;
}

.promoimage {
    width: 400px;
    height: 600px;
    padding: 0px 200px;
    margin-right: 100px;
    background-image: url("https://dummyimage.com/400x600/9fa19c/fff.png&text=Promo+Image+(400x600)");
    overflow: hidden;
    display: block;
    float: left;
}

.intro {
    display: block;
    float: right;
    flex-direction: column;
    text-align: right;
    padding: 10px;
    margin: 5%;
    height: 100px;
    width: auto;
    overflow: hidden;
}

.about a {
    padding: 10px 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: 0.3s ease;
    color: white;
}

.about a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.contact {
    padding: 20px 40px;
    margin-top: 100px;
    margin-bottom: 160px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    bottom: 60px;
}

.contact li {
    float: left;
    margin-top: 0px;
    padding: 10px;
    display: block;
    bottom: 0px;
}


/* Skills Section */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: black;
    background: white;
    height: 800px;
}

#skills::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    z-index: -1;
}

#skills::after {
    content: "";
    height: 200px;
    width: 100%;
}

.tech {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.cv {
    display: flex;
    justify-content: space-around;
    display: flex;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 1px solid black;
    margin: 10px;
}