*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navigation Bar */
.navigation{
    display: flex;
    align-items: center;
    
    background-color: rgba(1, 1, 1, 1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation ul{
    float:right;
    justify-content: right;
    display: flex;
    list-style: none;
    margin: 20px, 0px;
}

.navigation h1{
    justify-self: left;
    float:left;
    color: white;
}
.navigation li{
    justify-content: right;
    background-color: black;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navigation li:hover{
    background-color: azure;
    color:black;
}

.navigation li a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.navigation li:hover a{
    text-decoration: none;
    color: black;
}
.navigation li:hover a:hover{
    text-decoration: none;
    color: purple;
}

/* home page */
#home{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    color:white;
    background-color: royalblue;
    height:800px;
}

#home::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    height:900px;
    width: 100%;
    z-index: -1;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:25%;
    right:15%;
}

.demo{
    padding: 10px 40px;
    margin-top:10px;
    background-color: transparent;
    border:1px solid white;
    outline: none;
    transition: 0.3s ease;
    color:white;
}

.demo:hover{
    cursor:pointer;
    background-color: white;
    color:black;
}

/* Portfolio Reel */

#portfolio{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    color:white;
    background: rgb(62, 160, 114);
    height:800px;
}

#portfolio::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    height:900px;
    width: 100%;
    z-index: -1;
}
/* external css: flickity.css */

.portfolio h1{
    font-size:60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.showreel{
    background:rgb(17, 168, 105);
}
  
  .slide {
    width: 100%;
    height: 500px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: slide;
  }
  
  /* cell number */
  .slide:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .project{
    padding-top:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    right:50%;
  }

  .project button{
    padding: 10px 40px;
    margin-top:10px;
    background-color: transparent;
    border:1px solid white;
    outline: none;
    transition: 0.3s ease;
    color:white;
  }

  .project button:hover{
    cursor:pointer;
    background-color: white;
    color:black;
}

/* About Section */
#details{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    color:white;
    background: rgb(209, 183, 69);
    height:800px;
}

#details::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    height:1400px;
    width: 100%;
    z-index: -1;
}

.about{
    display:flex;
    padding: 50px;
}

.promoimage{
    width: 1750px;
    height:500px;
    padding: 0px 30px;
}

.intro{
    display:flex;
    flex-direction: column;
    text-align:right;
    padding: 10px;
    margin:5%;
    height:500px;
}

.about button{
    padding: 10px 40px;
    margin-top:10px;
    background-color: transparent;
    border:1px solid white;
    outline: none;
    transition: 0.3s ease;
    color:white;
  }

  .about button:hover{
    cursor:pointer;
    background-color: white;
    color:black;
  }

.contact{
    padding: 20px 40px;
    margin-top: 10px;
    
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    bottom:0px;
}

.contact li{
    float:left;
    padding:10px;
    display:block;
    bottom:0px;
}


/* Skills Section */

#skills{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    color:black;
    background: white;
    height:800px;
}

#skills::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    height:900px;
    width: 100%;
    z-index: -1;
}

.tech{
    display:flex;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
}

.cv{
    display:flex;
    justify-content: space-around;
    display: flex;
}

.skill{
    display: flex;
    flex-direction: column;
    width:400px;
    height:450px;
    border:1px solid black;
    margin:10px;
}

.techs{
    display: flex;
    flex-direction: column;
    width:1280px;
    height:450px;
    border:1px solid black;
    margin:10px;
}