<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en  }}">

{%- include head.html -%}
<link rel='stylesheet' href='/assets/css/navbar.css'>

<body>

    <nav class='navigation'>
        <h1>Ewan Burnett</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/projects/'>Projects</a></li>
            <li><a href='/blog/'>Blog</a></li>
            <li><a href='https://github.com/ewanburnett'>Github</a></li>
        </ul>
    </nav>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {{ content }}

            <div>
                <h2>Development Blogs</h2>
                {% for post in site.categories.Blog %}
                <li>
                    <h4>{{ post.date }}</h4>
                    <a href="{{ post.url | relative_url }}">{{ post.title | post.date | date: date_format | escape }}</a> {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
                </li>
                {% endfor %}
            </div>


            {%- include footer.html -%}
        </div>
    </main>

</body>

</html>