<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en'  }}">
  {%- include head.html -%}
  <link rel="stylesheet" href="/assets/css/navbar.css" />
  <link rel="stylesheet" href="/assets/css/projecthome.css" />
  <link rel="stylesheet" href="/assets/css/stylesheet.css" />
        <link rel="stylesheet" href="node_modules/octicons/build/font/octicons.css">
        <link rel="stylesheet" href="https://unpkg.com/octicons@4.4.0/build/font/octicons.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
  <body>
    <nav class="navigation">
      <h1>Ewan Burnett</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a class='icon' href="http://github.com/EwanBurnett" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      </ul>
    </nav>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1
          style="
            text-align: center;
            font-size: 54px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
          "
        >
          Development Blogs
        </h1>
        <div style="text-align: center">
          <ul
            style="
              display: inline-block;
              columns: 2;
              -webkit-columns: 2;
              -moz-columns: 2;
            "
          >
            {% for post in site.categories.Blog %}
            <a
              href="{{ post.url }}"
              class="blogpost"
              style="
                color: white;
                align-items: center;
                display: flex;
                justify-content: left;
                margin-bottom: 30px;
                border: 1px solid white;
              "
            >
              <div style="margin: 15px 15px 15px 15px; min-width: 400px;" >
                <img
                  style="
                    width: 400px;
                    height: 200px;
                    object-fit: cover;
                    border: 1px solid white;
                  "
                  src="{{ post.card }}"
                />
              </div>
              <div style="display: flex; flex-direction: column; margin: 15px; text-align: left;">
                <p class="blogdate" >{{ post.date | date: "%d %B %Y" }}</p>
                <h3>{{ post.Title }}</h3>
                <p style="word-wrap: break-word;">{{ post.summary }}</p>
              </div>
            </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>

    {%- include footer.html -%}
  </body>
</html>
