<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en'  }}">

{%- include head.html -%}
<link rel='stylesheet' href='/assets/css/navbar.css'>
<link rel='stylesheet' href='/assets/css/projecthome.css'>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
<body>

    <nav class='navigation'>
        <h1>Ewan Burnett</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/projects/'>Projects</a></li>
            <li><a href='/blog/'>Blog</a></li>
            <li><a href='https://github.com/ewanburnett'>Github</a></li>
        </ul>
    </nav>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            <h1 style="text-align: center; font-size: 54px; font-family: Arial, Helvetica, sans-serif; color: white;"> Development Blogs </h1>
            <div>
                <ul>
                {% for post in site.categories.Blog %}
                <div class = "BlogCard">
                    <a href = "{{ post.url | relative_url }}">
                        <div>
                        <h4>{{ post.title }}</h4>
                        <h4>{{ post.date | date: "%d %B %Y" }}</h4>
                        
                        {% for tag in post.tags %}
                            <h4>{{ tag }}</h4>
                        {% endfor %}
                        </div>
                        <div>
                            <h3>{{ post.summary }}</h3>
                            <img src = "{{ post.card }}" style="width: 400px; object-fit: contain;">
                        </div>
                    </a>
                </div>
                {% endfor %}
                </ul>
            </div>

        </div>
    </main>

    {%- include footer.html -%}
</body>

</html>