<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en'  }}">
  {%- include head.html -%}
  <link rel="stylesheet" href="/assets/css/navbar.css" />
  <link rel="stylesheet" href="/assets/css/projecthome.css" />
        <link rel="stylesheet" href="node_modules/octicons/build/font/octicons.css">
        <link rel="stylesheet" href="https://unpkg.com/octicons@4.4.0/build/font/octicons.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
  <body>
    <nav class="navigation">
      <h1>Ewan Burnett</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a class='icon' href="http://github.com/EwanBurnett" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      </ul>
    </nav>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">{{ content }}</div>
    </main>

    <footer>{%- include footer.html -%}</footer>
  </body>
</html>
