<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}
<link rel='stylesheet' href='/assets/css/navbar.css'>
<link rel='stylesheet' href='/assets/css/project.css'>
<body>
    <nav class='navigation'>
        <h1>Ewan Burnett</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/projects/'>Projects</a></li>
            <li><a href='/blog/'>Blog</a></li>
            <li><a href='https://github.com/ewanburnett'>Github</a></li>
        </ul>
    </nav>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
            <h4>{{ page.date | date: "%d %B %Y"}}</h4>
            <div class = "row">
            <!--Page Content-->
            <div class = "column" style="width: 60%;">
                {{ content }}
            </div>
            <!--Project Info-->
                <div class = "column" style="width: 40%; text-align: center;">
                    <img class = "card" style="width: 600px; object-fit: contain; border: 1px solid black;" src = {{ page.card }}>
                    <h4>{{ page.summary }}</h4>
                    <div class = "row" style="width: 100%; margin-bottom: 30px;">
                        <div class = "column">
                            <a class = "btn" href = {{ page.repository }}>Repository</a>    
                        </div>
                        <div class = "column">
                            <a class = "btn" href = {{ page.download }}>Download</a>
                        </div>
                        </ul>
                    </div>
                    {% if page.video and page.video != '' %}
                        <iframe style=" border: 1px solid black;" width="600" height="337.5" src={{ page.video }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}
                </div>
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>