
:root{ 

}

.aboutMeWrapper{ 
    display: inline-block;
    height: auto; 
    margin-top: 10vh; 
}

.aboutMeContainer{ 
    display: flex;
    flex-direction: row; 
    flex: auto; 
    width: 100%;
    justify-content: center;
}

.aboutMeImage{ 
    display: inline-block;
    background-color: red;
    width: 30%;
    height: auto; 
    overflow: hidden;
    margin:0 ; 
    object-fit: contain;
    object-position: center;
}

/*TODO: Image Sizing to div!*/
.aboutMeImage img{ 
    border: 0.1rem solid white; 
    border-radius: 1rem;
    width: auto; 
}

.aboutMeText{ 
    font-size: 1.6vh; 
    width: 50%;
    display: inline-block;
    border: 0.1rem solid white; 
    border-radius: 1rem;
    color: white; 
    background-color: slategray;
    text-align: left;
    margin-left: 3vw; 
    padding:1rem 2rem;
}

.aboutMeImage:hover {
    -webkit-box-shadow: 0px 0px 55px 4px rgba(9, 0, 255, 0.43);
    -moz-box-shadow: 0px 0px 55px 4px rgba(9, 0, 255, 0.43);
    box-shadow: 0px 0px 55px 4px rgba(9, 0, 255, 0.43);

    transition: ease 0.3s;
}
.aboutMeText:hover {
    -webkit-box-shadow: 0px 0px 55px 4px rgba(9, 0, 255, 0.43);
    -moz-box-shadow: 0px 0px 55px 4px rgba(9, 0, 255, 0.43);
    box-shadow: 0px 0px 55px 4px rgba(9, 0, 255, 0.43);

    transition: ease 0.3s;
}



@media only screen and (max-width: 1050px) {

    .aboutMeImage{
        display: none;
    }
    .aboutMeText{ 
        width: 85%;
        margin: 0; 
    }
}