@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --navbar-font-size: calc(10px + 1vmin);
    --navbar-accent-colour: rgb(0, 0, 255);
}

.Navbar {
    position: sticky;
    top: 0;
    overflow: initial !important;

    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin: 0;
    width: 100%;
    height: auto;

    font-size: var(--navbar-font-size);

    --colour-a: rgba(20, 38, 95, 0.85);
    --colour-b: rgba(10, 20, 48, 0.85);

    box-shadow: 0, 3px, 20px, rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background: linear-gradient(90deg, var(--colour-a) 0%, var(--colour-b) 100%);

    white-space: nowrap;
    overflow: hidden;
    z-index: 900;
}

.Navbar a:hover {
    color: var(--navbar-accent-colour);
    transition: color ease 0.25s;
}

.navHome {
    justify-self: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
}

.navHome .name {
    display: inline-block;
    flex: 1.0;
    text-decoration: none;
    font-size: 3vh;
    font-family: "noto sans";
    font-weight: bold;
    color: #ffffff;
}

.navHome .name:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.2rem;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.25s ease 0s, left 0.25s ease 0s;
    width: 0;
}

.navMenu {
    flex: 1;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: stretch;
}

.navLinks {
    display: inline-block;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 0;
}

.navMenu li {
    display: inline-block;
    position: relative;
    margin-left: 1vw;
    margin-right: 1vw;
}

.navMenu a {
    color: #ffffff;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    font-size: 2vh;
    font-family: "Noto Sans";
    font-weight: bold;
}

.navMenu a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.25rem;
    content: "";
    display: block;
    height: 0.2rem;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.25s ease 0s, left 0.25s ease 0s;
    width: 0;
}

.navMenu a:hover:after {
    width: 100%;
    left: 0;
}

.languageMenu {
    z-index: 1;
    position: relative;
    display: inline-block;
    font-size: var(--navbar-font-size);
}

.languageMenu p {
    font-size: calc(10px + 1vmin);
}

.languageButton {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: "Noto Sans";
    font-weight: bold;
}

.languageDropdown {
    /*
    overflow-y: visible;
    display: none;
    position: absolute;
    width: auto;
    z-index: 1;
    */

    width: auto;
    right: 0;
    display: none;
    position: absolute;
    width: auto;
    z-index: 9999;
}

.languageDropdown a {
    z-index: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: "Noto Sans";
    font-weight: bold;
    padding-bottom: 0.5rem;
    min-width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.languageDropdown a:hover {
    background-color: #008cff;
    transition: background-color 0.25s linear;
}

.languageMenu:hover .languageDropdown {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.languageButton:hover .languageButton:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.2rem;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.25s ease 0s, left 0.25s ease 0s;
    width: 0;
}

.hamburger {
    display: none;
    z-index: 999;
    right: 0;
    flex: 1;
}

.hamburger .hamburgerLines {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.hamburger .line {
    display: block;
    height: 0.2rem;
    width: 100%;
    border-radius: 5rem;
    background: white;
}

.sidebar {
    display: none;
    height: auto;
    width: 0;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    /*
    background-color: red;
    */

    --colour-a: rgba(20, 38, 95, 0.85);
    --colour-b: rgba(10, 20, 48, 0.85);

    box-shadow: 0, 3px, 20px, rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background: linear-gradient(90deg, var(--colour-a) 0%, var(--colour-b) 100%);

    overflow-x: hidden;
    padding-top: 10%;
    padding-bottom: 10%;
    transition: 0.25s;
}

/* Mobile Phones */
@media only screen and (max-width: 1050px) {
    .Navbar {
        position: sticky;
    }

    /*TODO: Hamburger menu*/
    .navMenu ul {
        display: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
    }

    .sidebar a {
        display: block;
    }

    .navHome {
        width: 100%;
    }

    .hamburger {
        display: inline-block;
    }

    .languageDropdown {
        right: auto;
        left: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: inherit;
        margin-top: 0.5rem;
        transition: 0.25s;
    }
}