html {
  scroll-behavior: smooth;
}

.appHome {
  display: flex;
  width: 100%;
  align-items: stretch;

  padding-bottom: 2rem;
  background: linear-gradient(180deg, #284ac2 97%, #0a0a0a 100%);
}

.demoBounds {
  align-items: stretch;
  display: flex;
  flex: 1;

}

.landingBounds {
  display: inline-block;
  flex: 1;
  height: auto;
}

.sectionHeader {
  font-size: 5vh;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

@media only screen and (max-width: 1200px) {
  .appHome {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .demoBounds {
    min-height: 30vh;
  }

}

@media only screen and (max-height: 800px) {
  .appHome {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.App {
  text-align: center;
  background-color: #0a0a0a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}